<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a18c79">  <td>18/08/23 15:43:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AmazonTest.setupClass()[pri:0, instance:tests.amazonTest.AmazonTest@26653222]">&gt;&gt;setupClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@832947102</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>18/08/23 15:43:58</td>   <td>9982</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AmazonTest.setupTest()[pri:0, instance:tests.amazonTest.AmazonTest@26653222]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td>  <td>main@832947102</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>18/08/23 15:43:58</td>   <td>9983</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.testProducts()[pri:0, instance:tests.amazonTest.AmazonTest@26653222]">testProducts</td> 
  <td>main@832947102</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>18/08/23 15:44:13</td>   <td>25927</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AmazonTest.tearDownTest()[pri:0, instance:tests.amazonTest.AmazonTest@26653222]">&lt;&lt;tearDownTest</td> 
<td>&nbsp;</td>  <td>main@832947102</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>18/08/23 15:44:14</td>   <td>26921</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AmazonTest.setupTest()[pri:0, instance:tests.amazonTest.AmazonTest@26653222]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td>  <td>main@832947102</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>18/08/23 15:44:14</td>   <td>26921</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.testRecomendation()[pri:0, instance:tests.amazonTest.AmazonTest@26653222]">testRecomendation</td> 
  <td>main@832947102</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>18/08/23 15:44:14</td>   <td>26924</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AmazonTest.tearDownTest()[pri:0, instance:tests.amazonTest.AmazonTest@26653222]">&lt;&lt;tearDownTest</td> 
<td>&nbsp;</td>  <td>main@832947102</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>18/08/23 15:44:14</td>   <td>26925</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AmazonTest.setupTest()[pri:0, instance:tests.amazonTest.AmazonTest@26653222]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td>  <td>main@832947102</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>18/08/23 15:44:14</td>   <td>26925</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.testSortItems()[pri:0, instance:tests.amazonTest.AmazonTest@26653222]">testSortItems</td> 
  <td>main@832947102</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>18/08/23 15:44:14</td>   <td>26929</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AmazonTest.tearDownTest()[pri:0, instance:tests.amazonTest.AmazonTest@26653222]">&lt;&lt;tearDownTest</td> 
<td>&nbsp;</td>  <td>main@832947102</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>18/08/23 15:44:14</td>   <td>26930</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AmazonTest.tearDownClass()[pri:0, instance:tests.amazonTest.AmazonTest@26653222]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@832947102</td>   <td></td> </tr>
</table>
